# Sample config file for running remote tests
# Add "apikey" and "id" and populate them
domain=signmydata.com
digestalg=sha256
keyalg=rsa
kv=1
sf=date:hex
apiurl=https://signmydata.com/?sign
outfile=./%b-seal%e
