# Custom SEAL tags
%Image::ExifTool::UserDefined = (
    # XMP
    'Image::ExifTool::XMP::Main' => {
        # seal tag (simple string, no checking)
        seal => {
            SubDirectory => {
                TagTable => 'Image::ExifTool::UserDefined::seal',
            },
        },
    },

    # EXIF
    'Image::ExifTool::Exif::Main' => {
        # Example 1.  EXIF:NewEXIFTag
        0xcea1 => {
            Name => 'seal',
            Writable => 'string',
            WriteGroup => 'IFD0',
        },
    },
);

%Image::ExifTool::UserDefined::seal = (
    GROUPS => { 0 => 'XMP', 1 => 'XMP-seal', 2 => 'Image' },
    NAMESPACE => { 'seal' => 'http://ns.seal/2024/1.0/' },
    WRITABLE => 'string', # (default to string-type tags)
    # Example 8.  XMP-xxx:NewXMPxxxTag1 (an alternate-language tag)
    seal => { },
);

1;
